@model firstApplication.Models.Professor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessorNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorApellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessorApellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessorTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorLugardeTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessorLugardeTrabajo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfessorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
