@model firstApplication.Models.Professor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesorNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesorNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesorApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesorApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesorTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesorTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesorLugadeTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesorLugadeTrabajo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfesorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
