@model IEnumerable<firstApplication.Models.Recipes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecIngredientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecAutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecIngredientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecAutor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
